
%form{:action => "/verify-result", :method => "post" }

	%p
		%label{:for => ""} Give us your credit card number, please.
		%input{:type => "textbox", :name => "res", :id => "verify"}
	%p
		%input{:type => "submit", :value => "Let it go!"}